{% extends 'layouts/app.html' %}
{% import 'macros/items.html' as items %}
{% import 'macros/form.html' as f with context %}
{% set endpoint = 'checklist_template.task' %}
{% set form_kwargs = {'page': page,'checklists_templates_id': id} %}
{% block title %}Tasks - List{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-6">
{{ f.search(endpoint, **form_kwargs) }}
</div>
    <div class="col-md-6">
      <a href="{{ url_for('checklist_template.new_task', checklists_templates_id=id) }}"
         class="btn btn-primary pull-right">
        Stwórz nowe zadanie
      </a>
    </div>
  </div>
  {% if tasks.total == 0 %}
    <h3>Nie znaleziono wyniku...</h3>

    {% if request.args.get('q') %}
      <p>Spróbuj zmniejszyć zakres wyszukiwania.</p>
    {% else %}
      <p>Nie ma przypisanych zadań do tego wzoru
        <a href="{{ url_for('checklist_template.new_task', checklists_templates_id=id) }}">Stwórz zadanie</a>.</p>
    {% endif %}
  {% else %}
    {% call f.form_tag('checklist_template.bulk_delete_task',checklists_templates_id=id) %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th>
              <label for="select_all"></label>
              <input id="select_all" name="select_all" type="checkbox">
            </th>
            <th class="col-header">
              {{ items.sort('created_on', 'Utworzono') }}
            </th>
            <th class="col-header">
              {{ items.sort('name', 'Nazwa') }}
            </th>
            <th class="col-header">
              {{ items.sort('a_when', 'Kiedy') }}
            </th>
            <th class="col-header">
              {{ items.sort('description', 'Opis') }}
            </th>
            <th class="col-header">
              {{ items.sort('who', 'Kto') }}
            </th>
<!--            <th class="col-header">-->
<!--              {{ items.sort('daily_task', 'Codziennie') }}-->
<!--            </th>-->
            <th id="bulk_actions" colspan="4">
              <div class="form-inline">
                {{ f.field(bulk_form.scope, inline=True) }}
                  <button type="submit"
                          class="btn btn-danger btn-sm">
                    Usuń elementy
                  </button>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
        {% for task in tasks.items %}
          <tr>
            <td>
              <label for="bulk_ids"></label>
              <input class="checkbox-item" id="bulk_ids" name="bulk_ids"
                     type="checkbox" value="{{ task.id }}">
            </td>

            <td>
              <time class="from-now"
                    data-datetime="{{ task.created_on }}">
                {{ task.created_on }}
              </time>
            </td>

            <td>
              <a href="{{ url_for('checklist_template.edit_task', id=task.id, checklists_templates_id=id) }}">
                <h4 class="media-heading">{{ task.name }}</h4>
              </a>
            </td>

            <td>
             {{ task.a_when }}
            </td>

            <td>
             {{ task.description }}
            </td>

            <td>

              {% if task.who == None %}

              {% else %}
              {{ task.who }}
              {% endif %}
            </td>

<!--            <td>-->
<!--             {{ task.daily_task }}-->
<!--            </td>-->
            {% endfor %}
        </tbody>
      </table>
    {% endcall %}

{{ items.paginate_task(tasks,**form_kwargs) }}
  {% endif %}

{% endblock %}
