{% extends 'layouts/app.html' %}

{% block title %}Aplikacja checklist dla operatorów{% endblock %}
{% block meta_description %}Uzupełniaj codziennie :){% endblock %}

{% block body %}

    <div class="row text-center">
      <div class="col-lg-4">
        <i class="fa fa-fw fa-4x fa-bullhorn text-primary"></i>
        {% if current_user.is_authenticated %}
        <h2>Checklisty - szablony</h2>
        <p class="text-muted">Stwórz lub edytuj szablon.</p>
        <p>
          <a href="{{ url_for('checklist_template.checklist_template') }}" class="btn btn-default">Do dzieła.</a>
        </p>
        {% else %}
        <h2>Checklisty - szablony</h2>
        <p class="{{ url_for('user.signup') }}">Stwórz lub edytuj szablon.</p>
        <p>
          <a href="{{ url_for('user.signup') }}" class="btn btn-default">Rejestruj</a>
        </p>
        {% endif %}
      </div>
      <div class="col-lg-4">
        <i class="fa fa-fw fa-4x fa-database text-primary"></i>
        {% if current_user.is_authenticated %}
        <h2>Checklisty.</h2>
        <p class="text-muted">Codzienne checklisty.</p>
        <p>
          <a href="{{ url_for('daily_checklist.checklist') }}" class="btn btn-default">Do dzieła.</a>
        </p>
        {% else %}
        <h2>Checklisty</h2>
        <p class="{{ url_for('user.signup') }}">Codzienne checklisty</p>
        <p>
          <a href="{{ url_for('user.signup') }}" class="btn btn-default">Rejestruj</a>
        </p>
        {% endif %}
      </div>
      <div class="col-lg-4">
        <i class="fa fa-fw fa-4x fa-wrench text-primary"></i>
        {% if current_user.is_authenticated %}
        <h2>Raporty</h2>
        <p class="text-muted">Raporty użytkownika.</p>
        <p>
          <a href="{{ url_for('reports.reports_view') }}" class="btn btn-default">Do dzieła.</a>
        </p>
        {% else %}
        <h2>Raporty.</h2>
        <p class="{{ url_for('user.signup') }}">Raporty użytkownika.</p>
        <p>
          <a href="{{ url_for('user.signup') }}" class="btn btn-default">Rejestruj</a>
        </p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
