{% import 'macros/form.html' as f with context %}

{% if request.endpoint.endswith('new_task') %}
  {% set endpoint = 'checklist_template.new_task' %}
  {% set form_kwargs = {'checklists_templates_id': id}%}
  {% set legend = 'Dodaj nowe Zadanie' %}
  {% set button = 'Dodaj' %}
{% else %}
  {% set endpoint = 'checklist_template.edit_task' %}
  {% set form_kwargs = {'id': task_edit.id,'checklists_templates_id': id} %}
  {% set legend = 'Aktualizuj checkliste' %}
  {% set button = 'Zapisz' %}
{% endif %}

<div class="row">
  <div class="col-md-4 col-md-offset-4 well">
    {% call f.form_tag(endpoint, **form_kwargs) %}
    <legend>{{ legend }}</legend>

      {% call f.form_group(form.name, css_class='sm-margin-bottom') %}
      {% endcall %}

      {% call f.form_group(form.a_when, css_class='sm-margin-bottom') %}
      {% endcall %}

      {% call f.form_group(form.description, css_class='sm-margin-bottom') %}
      {% endcall %}

      {% call f.form_group(form.who, css_class='sm-margin-bottom') %}
      {% endcall %}

      <hr/>
      <div class="row">
        <div class="col-md-6">
          <button type="submit" class="btn btn-primary btn-block">
            {{ button }}
          </button>
        </div>
        <div class="col-md-6">
          <div class="visible-xs visible-sm"></div>
          <a href="{{ url_for('checklist_template.task',checklists_templates_id=id,page=1) }}"
              class="btn btn-secondary btn-block">
            Anuluj
          </a>
        </div>
      </div>
    {% endcall %}
  </div>
</div>
