
{% extends 'layouts/app.html' %}
{% import 'macros/items.html' as items %}
{% import 'macros/form.html' as f with context %}
{% set endpoint = 'daily_checklist.checklist_do' %}
{% set form_kwargs = {'page': page, 'id': id} %}

{% block title %}Tasks - List{% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-6">
      {{ f.search(endpoint, **form_kwargs) }}
</div>
    <div class="col-md-6">
      <a href="{{ url_for('checklist_template.new_task', checklists_templates_id=get_checklist_template, exist_checklist_id=id) }}"
         class="btn btn-primary pull-right">
        Stwórz nowe zadanie
      </a>
    </div>
  </div>
  {% if tasks.total == 0 %}
    <h3>Brak wyników ... </h3>

    {% if request.args.get('q') %}
      <p>Zmień kryteria wyszukiwania.</p>
    {% else %}
      <p>Nie ma przypisanych zadań do tej checklisty.</p>
    {% endif %}
  {% else %}

      <table class="table table-striped">
        <thead>
          <tr>

            <th class="col-header">
              {{ items.sort('a_when', 'Kiedy') }}
            </th>
            <th class="col-header">
              {{ items.sort('name', 'Nazwa') }}
            </th>
            <th class="col-header">
              {{ items.sort('start', 'Start') }}
            </th>
            <th class="col-header">
              {{ items.sort('stop', 'Stop') }}
            </th>
            <th class="col-header">
              {{ items.sort('length', 'Długość') }}
            </th>
            <th class="col-header">
              {{ items.sort('description', 'Opis') }}
            </th>
            <th class="col-header">
              {{ items.sort('who', 'Kto') }}
            </th>


          </tr>
        </thead>
        <tbody>
        {% for task in tasks.items %}
          <tr>

            <td>
                {{ task.a_when }}
            </td>

            <td>
              {{ task.name }}
            </td>

            <td>
              <form action="{{ url_for('daily_checklist.event',data=form_kwargs) }}" class="form" method="POST" >
                {% if task.start == None %}
                <input type="hidden" name="start_task" value= {{ task.id }} />
                <button type="submit" class="btn btn-success">Start</button>
                {% else %}
                {{ task.start }}
                {% endif %}
              </form>
            </td>

            <td>
              <form action="{{ url_for('daily_checklist.event',data=form_kwargs) }}" class="form" method="POST" >
              {% if task.stop == None %}
                <input type="hidden" name="end_task" value= {{ task.id }} />
                <button type="submit" class="btn btn-danger">Stop</button>
              {% else %}
              {{ task.stop }}
              {% endif %}
              </form>
            </td>

            <td>
             {% if task.length == None %}
              --:--
              {% else %}
              {{ task.length }}
              {% endif %}
            </td>
            <td>
             {{ task.description }}
            </td>
            <td>

              {% if task.who == None and task.user == None%}

              {% elif task.who == None %}
              {{ task.user }}
              {% elif task.user == None %}
              {{ task.who }}
              {% else %}
              {{ task.user }}
              {% endif %}
            </td>
            {% endfor %}
        </tbody>
      </table>


{{ items.paginate_daily_task(tasks,**form_kwargs) }}
{% endif %}


{% endblock %}
