{% import 'macros/form.html' as f with context %}

{% if request.endpoint.endswith('new') %}
  {% set endpoint = 'admin.users_new' %}
  {% set form_kwargs = {} %}
  {% set legend = 'Add a new user' %}
  {% set button = 'Add' %}
{% else %}
  {% set endpoint = 'admin.users_edit' %}
  {% set form_kwargs = {'id': user.id} %}
  {% set legend = 'Edytuj użytkownika' %}
  {% set button = 'Zapisz' %}
{% endif %}

<div class="row">
  <div class="col-md-5 well">
    {% call f.form_tag(endpoint, **form_kwargs) %}
      <legend>{{ legend }}</legend>
      <div class="form-group">
        <label class="control-label"><strong>Zarejestrowany</strong></label>
        <p class="sm-margin-bottom form-control-static">
          <time class="from-now" data-datetime="{{ user.created_on }}">
            {{ user.created_on }}
          </time>
        </p>
      </div>
      <div class="form-group">
        <label class="control-label"><strong>Adres e-mail</strong></label>
        <p class="sm-margin-bottom form-control-static">
          {{ user.email }}
        </p>

      </div>

      {% call f.form_group(form.username, css_class='sm-margin-bottom',
                            autofocus='autofocus') %}
      {% endcall %}
      {% call f.form_group(form.name, css_class='sm-margin-bottom',
                            autofocus='autofocus') %}
      {% endcall %}
      {% call f.form_group(form.last_name, css_class='sm-margin-bottom',
                            autofocus='autofocus') %}
      {% endcall %}
      {% call f.form_group(form.role, css_class='sm-margin-bottom') %}
      {% endcall %}


      {% call f.form_group(form.active) %}
      {% endcall %}

    Wybierz grupę:


  {{ form_roles.user_roles }}



    <td width="20"></td>


      <div class="row">
        <div class="col-md-6">
          <button type="submit" class="btn btn-primary btn-block">
            {{ button }}
          </button>
        </div>
        <div class="col-md-6">
          <div class="visible-xs visible-sm"></div>
          <a href="{{ url_for('admin.users') }}"
              class="btn btn-secondary btn-block">
            Anuluj
          </a>
        </div>
      </div>

    {% endcall %}

  </div>






  <div class="col-md-5 col-md-push-1 col-md-offset-1">
    <h3>Aktywność</h3>

    <div class="panel panel-default">
      <div class="panel-body">
        <dl>
          <dt>Ilość logowań</dt>
          <dd class="sm-margin-bottom">{{ user.sign_in_count }}</dd>
          <dt>Aktualna data logowania</dt>
          <dd class="sm-margin-bottom">
            {% if user.current_sign_in_on %}
              <time class="from-now"
                    data-datetime="{{ user.current_sign_in_on }}">
                {{ user.current_sign_in_on }}
              </time>
            {% endif %}
          </dd>
          <dt>Aktualny adres Ip</dt>
          <dd class="sm-margin-bottom">{{ user.current_sign_in_ip }}</dd>
          <dt>Poprzednia data logowania</dt>
          <dd class="sm-margin-bottom">
            {% if user.last_sign_in_on %}
              <time class="from-now"
                    data-datetime="{{ user.last_sign_in_on }}">
                {{ user.last_sign_in_on }}
              </time>
            {% endif %}
          </dd>
          <dt>Poprzedni adres Ip</dt>
          <dd>{{ user.last_sign_in_ip }}</dd>
        </dl>


      </div>
    </div>
  </div>
</div>
