{% extends 'layouts/base.html' %}

{% block header %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="d-flex flex-grow-1">
        <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
        <a class="navbar-brand d-inline-block" href="/">
            CHECKLISTY
        </a>

        <div class="w-100 text-right">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>



    <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
      <ul class="navbar-nav ml-auto flex-nowrap">
        {% if current_user.role == 'admin' %}
            <li>
              {% include 'admin/_menu.html' %}
            </li>
          {% endif %}
          {% if current_user.is_authenticated %}
        <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Konto
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="{{ url_for('user.settings') }}">Opcję</a>
        <a class="dropdown-item" href="{{ url_for('user.logout') }}">Wyloguj</a>
      </div>
    </li>
        {% else %}
        <li class="nav-item">
                <a href="{{ url_for('user.login') }}" class="nav-link m-2 menu-item nav-active">Login</a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('user.signup') }}" class="nav-link m-2 menu-item">Rejestruj</a>
            </li>
        {% endif %}
        </ul>
    </div>
</nav>
{% endblock %}

{% block footer %}

{% endblock %}
