{% import 'macros/flash.html' as flash with context %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Checklist App</title>


    <link rel="stylesheet" href="{{ url_for('static', filename='styles/vendor/fonts/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/vendor/css/bootstrap4-business.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/vendor/main.css') }}">

    <meta name="description"
          content="{% block meta_description %}{% endblock %}">

    <script src="{{ url_for('static', filename='styles/vendor/jquery1122/jquery-1.12.2.min.js') }}"></script>
    <title>{% block title %}{% endblock %}</title>

  </head>
  <body>

  {% block header %}{% endblock %}

    <main class="container">
      {{ flash.render() }}

      <div class="md-margin-top">{% block heading %}{% endblock %}</div>

      {% block body %}{% endblock %}
    </main>



    <footer class="footer text-center">
      <div class="container">
        <ul class="list-inline">
          <li class="text-muted list-inline-item">Checklist app 2020</li>
          {% block footer %}{% endblock %}
        </ul>
      </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->


  <script src="{{ url_for('static', filename='styles/vendor/js/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='styles/vendor/js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='styles/vendor/js/moment.min.js') }}"></script>
  <script src="{{ url_for('static', filename='styles/vendor/main.js') }}"></script>
  </body>
</html>