{% extends 'layouts/base.html' %}

{% block header %}
<!--  <a href="{{ url_for('page.home') }}">-->
<!--    <img src="{{ url_for('static', filename='images/snake-eyes-large.jpg') }}"-->
<!--         class="img-responsive center-block md-margin-bottom"-->
<!--         width="178" height="176" title="Snake Eyes" alt="Snake Eyes"/>-->
<!--  </a>-->
{% endblock %}

{% block footer %}
  <li class="list-inline-item"><a href="{{ url_for('user.signup') }}">Zarejestruj</a></li>
  <li class="list-inline-item"><a href="/">Strona Domowa</a></li>
{% endblock %}
