{% macro role_icon_for(user) -%}
  {% if user.role == 'admin' %}
    <i class="fa fa-fw fa-3x fa-trophy text-primary" title="Admin"></i>
  {% else %}
    <i class="fa fa-3x fa-fw fa-user text-muted" title="Member"></i>
  {% endif %}
{% endmacro %}
