{% extends 'layouts/login.html' %}
{% import 'macros/form.html' as f with context %}

{% block title %}Resetuj hasło{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-md-4 col-md-offset-4 well">
      {% call f.form_tag('user.begin_password_reset') %}
        <legend>Zresetuj swoje hasło</legend>
        <p class="small help-block sm-margin-bottom">
          Na e-mail zostanie dostarczony link w celu restartu hasła.
        </p>

        {% call f.form_group(form.identity, css_class='sm-margin-bottom',
                             autofocus='autofocus') %}
        {% endcall %}

        <div class="row">
          <div class="col-md-6">
            <button type="submit" class="btn btn-primary btn-block">
              Kontynuuj...
            </button>
          </div>
          <div class="col-md-6">
            <a href="{{ url_for('user.login') }}"
                class="btn btn-secondary btn-block">
              Logowanie...
            </a>
          </div>
        </div>
      {% endcall %}
    </div>
  </div>
{% endblock %}
