{% extends 'layouts/app.html' %}
{% import 'macros/form.html' as f with context %}

{% block title %}Zaloguj się{% endblock %}

{% block body %}
<div class="row justify-content-center align-self-center">
    <div class="col-md-4 col-md-offset-4 well">
      {% call f.form_tag('user.login') %}
        <legend>Zaloguj się aby kontynuować</legend>

        {% call f.form_group(form.identity, css_class='sm-margin-bottom',
                             autofocus='autofocus') %}
        {% endcall %}

        {% call f.form_group(form.password, css_class='sm-margin-bottom') %}
        {% endcall %}

        <div class="row">
          <div class="col-md-6">
            <button type="submit" class="btn btn-primary btn-block">
              Zaloguj się
            </button>


          </div>
          <div class="col-md-6">
            <a href="{{ url_for('user.begin_password_reset') }}"
               class="btn btn-secondary btn-block">
              Restartuj hasło
            </a>
        </div>
      {% endcall %}


    </div>
  </div>

{% endblock %}
