{% extends 'layouts/login.html' %}
{% import 'macros/form.html' as f with context %}

{% block title %}Enter a new password{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-md-4 col-md-offset-4 well">
      {% call f.form_tag('user.password_reset') %}
        <legend>Wpisz nowe hasło.</legend>

        {% call f.form_group(form.password, css_class='sm-margin-bottom') %}
        {% endcall %}

        <div class="row">
          <div class="col-md-6">
            <button type="submit" class="btn btn-primary btn-block">
              Kontynuuj
            </button>
          </div>
          <div class="col-md-6">
            <a href="{{ url_for('user.login') }}"
               class="btn btn-secondary btn-block">
              Powrót do logowania
            </a>
          </div>
        </div>
      {% endcall %}
    </div>
  </div>
{% endblock %}
