{% extends 'layouts/app.html' %}

{% block title %}Account settings{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-md-5">
      <h2>Opcję</h2>
      <h4 class="text-muted margin-bottom">{{ current_user.email }}</h4>

      <div class="list-group">
        <a href="{{ url_for('user.update_credentials') }}"
           class="list-group-item">
          Zaaktualizuj email, hasło
        </a>
        {% if current_user.username %}
          <span class="list-group-item quarter-faded text-muted">
            Twój nick to:
            <strong>{{ current_user.username }}</strong>
          </span>
        {% else %}
          <a href="{{ url_for('user.welcome') }}"
             class="list-group-item">
            Wybierz nick:
          </a>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
