{% extends 'layouts/app.html' %}
{% import 'macros/form.html' as f with context %}

{% block title %}Sign up for a new account{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-md-5">
      <h2>Zarejestruj się.</h2>

      <div class="media md-margin-bottom">
        <div class="media-left">
          <i class="fa fa-fw fa-3x fa-bullhorn text-primary"></i>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Zarejestruj nowy wzór.</h4>
          <span class="text-muted">
            Stwórz wzorcową checklistę w zależności od zadań.
          </span>
        </div>
      </div>
      <div class="media md-margin-bottom">
        <div class="media-left">
          <i class="fa fa-fw fa-3x fa-database text-primary"></i>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Wykonaj checkilistę</h4>
          <span class="text-muted">
            Wykonaj codziennie checklistę, nie musisz już tworzyć nowy arkuszów w Excelu.
          </span>
        </div>
      </div>
      <div class="media md-margin-bottom">
        <div class="media-left">
          <i class="fa fa-fw fa-3x fa-trophy text-primary"></i>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Raporty</h4>
          <span class="text-muted">Twórz szczegółowe raporty w fromacie xlsx.</span>
        </div>
      </div>
    </div>
    <div class="col-md-5 col-md-push-1 col-md-offset-1 well">
      {% call f.form_tag('user.signup') %}
        <legend>Rejestruj się...</legend>

        {% call f.form_group(form.email, css_class='sm-margin-bottom',
                             autofocus='autofocus',
                             placeholder='Email') %}
        {% endcall %}
        {% call f.form_group(form.name, css_class='sm-margin-bottom', placeholder='Imię') %}
        {% endcall %}
        {% call f.form_group(form.last_name, css_class='sm-margin-bottom', placeholder='Nazwisko') %}
        {% endcall %}
        {% call f.form_group(form.password, css_class='sm-margin-bottom') %}
        {% endcall %}

        <div class="row">
          <div class="col-md-6">
            <button type="submit" class="btn btn-primary btn-block">
              REJESTRUJ
            </button>
          </div>
          <div class="col-md-6">
            <a href="{{ url_for('user.login') }}"
               class="btn btn-secondary btn-block">
              ZALOGUJ
            </a>
          </div>
        </div>
      {% endcall %}
    </div>
  </div>
{% endblock %}
