{% extends 'layouts/app.html' %}
{% import 'macros/form.html' as f with context %}

{% block title %}Update your sign in information{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-md-4 col-md-offset-4 well">
      {% call f.form_tag('user.update_credentials') %}
        <legend>Aktualizuj swoje dane logowania</legend>
        <p class="small help-block sm-margin-bottom">
          Podaj aktualne hasło.
        </p>

        {% call f.form_group(form.current_password, css_class='lg-margin-bottom',
                             autofocus='autofocus') %}
        {% endcall %}

        {% call f.form_group(form.email, css_class='sm-margin-bottom') %}
        {% endcall %}
        {% call f.form_group(form.password, css_class='sm-margin-bottom',
                             placeholder='Nowe hasło (optionalne)') %}
        {% endcall %}

        <div class="row">
          <div class="col-md-6">
            <button type="submit" class="btn btn-primary btn-block">
              Zapisz
            </button>
          </div>
          <div class="col-md-6">
            <a href="{{ url_for('user.settings') }}"
               class="btn btn-secondary btn-block">
              Nieważne...
            </a>
          </div>
        </div>
      {% endcall %}
    </div>
  </div>
{% endblock %}
