{% extends 'layouts/app.html' %}
{% import 'macros/form.html' as f with context %}

{% block title %}Thanks for signing up{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-md-5">

      <p class="margin-bottom">
        Nick jest widoczny po zakońeczniu zadania w checkliście, aplikacja sprawdza czy nick jest unikalny.
      </p>

    </div>
    <div class="col-md-5 col-md-push-1 col-md-offset-1 well">
      {% call f.form_tag('user.welcome') %}
        <legend>Wybierz nick</legend>
        <p class="small help-block sm-margin-bottom">
          Możesz wybrać tylko raz.
        </p>

        {% call f.form_group(form.username, css_class='sm-margin-bottom',
                             autofocus='autofocus') %}
        {% endcall %}

        <div class="row">
          <div class="col-md-6">
            <button type="submit" class="btn btn-primary btn-block">
              Zapisz
            </button>
          </div>

      {% endcall %}
    </div>
  </div>
{% endblock %}
