{% import 'macros/form.html' as f with context %}

{% if request.endpoint.endswith('new') %}
  {% set endpoint = 'admin.groups_new' %}
  {% set form_kwargs = {} %}
  {% set legend = 'Dodaj nową grupę' %}
  {% set button = 'Dodaj' %}
{% else %}
  {% set endpoint = 'admin.groups_edit' %}
  {% set form_kwargs = {'id': group.id} %}
  {% set legend = 'Aktualizuj grupę' %}
  {% set button = 'Zapisz' %}
{% endif %}

<div class="row">
  <div class="col-md-4 col-md-offset-4 well">
    {% call f.form_tag(endpoint, **form_kwargs) %}
      <legend>{{ legend }}</legend>
      <p class="small text-muted">
        Wybierz nazwę zespołu.
      </p>


      {% call f.form_group(form.name, css_class='sm-margin-bottom') %}
      {% endcall %}


      <hr/>
      <div class="row">
        <div class="col-md-6">
          <button type="submit" class="btn btn-primary btn-block">
            {{ button }}
          </button>
        </div>
        <div class="col-md-6">
          <div class="visible-xs visible-sm"></div>
          <a href="{{ url_for('admin.groups') }}"
              class="btn btn-secondary btn-block">
            Anuluj
          </a>
        </div>
      </div>
    {% endcall %}
  </div>
</div>
