{% extends 'layouts/app.html' %}
{% import 'macros/items.html' as items %}
{% import 'macros/form.html' as f with context %}


{% block title %}Admin - group / List{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-md-6">
      {{ f.search('admin.groups') }}
    </div>
    <div class="col-md-6">
      <a href="{{ url_for('admin.groups_new') }}"
         class="btn btn-primary pull-right">
        Utwórz grupę
      </a>
    </div>
  </div>

  {% if groups.total == 0 %}
    <h3>Nie znaleziono wyniku...</h3>

    {% if request.args.get('q') %}
      <p>Spróbuj zmniejszyć zakres wyszukiwania.</p>
    {% else %}
       <p>
         Nie ma dostępnych grup,
         powinieneś <a href="{{ url_for('admin.groups_new') }}">stworzyć jedną</a>.
       </p>
    {% endif %}
  {% else %}
    {% call f.form_tag('admin.Group_bulk_delete') %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th>
              <label for="select_all"></label>
              <input id="select_all" name="select_all" type="checkbox">
            </th>
            <th class="col-header">
              {{ items.sort('created_on', 'Created') }}
            </th>
            <th class="col-header">
              {{ items.sort('name') }}
            </th>

            <th id="bulk_actions" colspan="5">
              <div class="form-inline">
                {{ f.field(bulk_form.scope, inline=True) }}
                <button type="submit"
                        class="btn btn-danger btn-sm">
                  Usuń elementy
                </button>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
        {% for group in groups.items %}
          <tr >
            <td>
              <label for="bulk_ids"></label>
              <input class="checkbox-item" id="bulk_ids"
                      name="bulk_ids" type="checkbox" value="{{ group.id }}">
            </td>
            <td>
              <time class="from-now"
                    data-datetime="{{ group.created_on }}">
                {{ group.created_on }}
              </time>
            </td>
            <td>
              <a href="{{ url_for('admin.groups_edit', id=group.id) }}">

                <h4 class="media-heading">{{ group.name }}</h4>
              </a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% endcall %}

    {{ items.paginate(groups) }}
  {% endif %}
{% endblock %}

