<li class="nav-item"><a class="nav-link active" href="{{ url_for('admin.dashboard') }}">Pulpit</a></li>
<li class="nav-item"><a class="nav-link active" href="{{ url_for('admin.users') }}">Użytkownicy</a></li>
<li class="nav-item"><a class="nav-link active" href="{{ url_for('admin.groups') }}">Grupy</a></li>
