{# Toggle sorting order on a specific field. #}
{% macro sort(field, title_header=None,direction=None) -%}
  {% set sort = request.args.get('sort', None) %}
  {% if direction == None and title_header == 'Kiedy' %}
      {% set direction = request.args.get('direction', 'asc') %}
  {% else %}
      {% set direction = request.args.get('direction', None) %}
  {% endif %}

  {% set q = request.args.get('q', '') %}

  {% if title_header == None %}
    {% set label = field | title %}
  {% else %}
    {% set label = title_header %}
  {% endif %}


  {% if direction == 'asc' %}
      {% set direction = 'desc' %}

  {% else %}
    {% set direction = 'asc' %}


  {% endif %}

  {% if sort == field %}
    {% set css = direction %}

  {% else %}
    {% set css = 'sort' %}
  {% endif %}

  <a class="{{ css }}" href="{{ url_for(request.endpoint,
                                        q=q,
                                        sort=field,
                                        direction=direction,
                                        **request.view_args) }}">{{ label }}</a>
{%- endmacro %}


{# Paginate through a resource. #}
{% macro paginate(resource) -%}
  {% set args = request.args.to_dict() %}
  <ul class="pagination">
    <li class="{{ 'page-item disabled' if resource.page == 1 }}">

      <a class="page-link" href="{{ url_for(request.endpoint, page=1, **args) }}"
          aria-label="First">
        &laquo; First
      </a>
    </li>
    <li class="{{ 'page-item disabled' if not resource.has_prev }}">
      <a class="page-link" href="{{ url_for(request.endpoint, page=resource.page - 1, **args) }}"
          aria-label="Previous">
        Prev
      </a>
    </li>
  {%- for page in resource.iter_pages() %}
    <li class="{{ 'page-item active' if page and page == resource.page }}">
      {% if page %}
        {% if page != resource.page %}
          <a class="page-link" href="{{ url_for(request.endpoint, page=page, **args) }}">{{ page }}</a>
        {% else %}
          <span class="page-link">{{ page }}</span>
        {% endif %}
      {% else %}
        <span class="page-link">…</span>
      {% endif %}
    </li>
  {%- endfor %}
    <li class="{{ 'page-item disabled' if not resource.has_next }}">
      <a class="page-link" href="{{ url_for(request.endpoint, page=resource.page + 1, **args) }}"
          aria-label="Next">
        Next
      </a>
    </li>
    <li class="{{ 'page-item disabled' if resource.page == resource.pages }}">
      <a class="page-link" href="{{ url_for(request.endpoint, page=resource.pages, **args) }}"
          aria-label="Last">
        Last &raquo;
      </a>
    </li>
  </ul>
{%- endmacro %}
{# Paginate through a resource. #}
{% macro paginate_task(resource,page='',checklists_templates_id=None) -%}
  {% set args = request.args.to_dict() %}
  <ul class="pagination">
    <li class="{{ 'page-item disabled' if resource.page == 1 }}">
      <a class="page-link" href="{{ url_for(request.endpoint, page=1,checklists_templates_id=checklists_templates_id, **args) }}"
          aria-label="First">
        &laquo; First
      </a>
    </li>
    <li class="{{ 'page-item disabled' if not resource.has_prev }}">
      <a class="page-link" href="{{ url_for(request.endpoint, page=resource.page - 1,checklists_templates_id=checklists_templates_id, **args) }}"
          aria-label="Previous">
        Prev
      </a>
    </li>
  {%- for page in resource.iter_pages() %}
    <li class="{{ 'page-item active' if page and page == resource.page }}">
      {% if page %}
        {% if page != resource.page %}
          <a class="page-link" href="{{ url_for(request.endpoint, page=page,checklists_templates_id=checklists_templates_id, **args) }}">{{ page }}</a>
        {% else %}
          <span class="page-link">{{ page }}</span>
        {% endif %}
      {% else %}
        <span class="page-link">…</span>
      {% endif %}
    </li>
  {%- endfor %}
    <li class="{{ 'page-item disabled' if not resource.has_next }}">
      <a class="page-link" href="{{ url_for(request.endpoint, page=resource.page + 1,checklists_templates_id=checklists_templates_id, **args) }}"
          aria-label="Next">
        Next
      </a>
    </li>
    <li class="{{ 'page-item disabled' if resource.page == resource.pages }}">
      <a class="page-link" href="{{ url_for(request.endpoint, page=resource.pages,checklists_templates_id=checklists_templates_id, **args) }}"
          aria-label="Last">
        Last &raquo;
      </a>
    </li>
  </ul>
{%- endmacro %}
{# Paginate through a resource. #}
{% macro paginate_daily_task(resource,page='',id=None) -%}
  {% set args = request.args.to_dict() %}
  <ul class="pagination">
    <li class="{{ 'page-item disabled' if resource.page == 1 }}">
      <a class="page-link" href="{{ url_for(request.endpoint, page=1, id=id, **args) }}"
          aria-label="First">
        &laquo; First
      </a>
    </li>
    <li class="{{ 'page-item disabled' if not resource.has_prev }}">
      <a class="page-link" href="{{ url_for(request.endpoint, page=resource.page - 1,id=id, **args) }}"
          aria-label="Previous">
        Prev
      </a>
    </li>
  {%- for page in resource.iter_pages() %}
    <li class="{{ 'page-item active' if page and page == resource.page }}">
      {% if page %}
        {% if page != resource.page %}
          <a class="page-link" href="{{ url_for(request.endpoint, page=page,id=id, **args) }}">{{ page }}</a>
        {% else %}
          <span class="page-link">{{ page }}</span>
        {% endif %}
      {% else %}
        <span class="page-link">…</span>
      {% endif %}
    </li>
  {%- endfor %}
    <li class="{{ 'page-item disabled' if not resource.has_next }}">
      <a class="page-link" href="{{ url_for(request.endpoint, page=resource.page + 1,id=id, **args) }}"
          aria-label="Next">
        Next
      </a>
    </li>
    <li class="{{ 'page-item disabled' if resource.page == resource.pages }}">
      <a class="page-link" href="{{ url_for(request.endpoint, page=resource.pages,id=id, **args) }}"
          aria-label="Last">
        Last &raquo;
      </a>
    </li>
  </ul>
{%- endmacro %}