
<br>
<br>

  <div class="row">
    <div class="col-md-3">
        <h4>Raporty Użytkowników</h4>
    </div>

      <div class="col-md-3">
        <h4> Wybierz użytkownika: </h4>
      </div>
      <div class="col-md-3">

        {% call f.form_group(user_form.List_form_user, css_class='form-group row') %}

      </div>
      </div>
</div>
<div class="row">
<div class="col-md-3">
<button type="submit" name="action" value='User' class="btn btn-primary mt-2 ">Generuj ...</button>
</div>

{% endcall %}

   <br>

 <div class="row">
    <div class="col-md-3">
        <h4>Raporty grupy</h4>
    </div>

      <div class="col-md-3">
        <h4> Wybierz grupę: </h4>
      </div>
      <div class="col-md-3">

        {% call f.form_group(group_form.List_form_group, css_class='form-group row') %}

      </div>
      </div>
</div>
<div class="row">
<div class="col-md-3">
<button type="submit" name="action" value='Group' class="btn btn-primary mt-2 ">Generuj ...</button>
</div>


{% endcall %}

    <br>

  <div class="row">
    <div class="col-md-3">
        <h4>Raporty Wzorów</h4>
    </div>

      <div class="col-md-3">
        <h4> Wybierz wzór: </h4>
      </div>
      <div class="col-md-3">

        {% call f.form_group(template_form.List_form_template, css_class='form-group row') %}

      </div>
      </div>
</div>
<div class="row">
<div class="col-md-3">
<button type="submit" name="action" value='Template' class="btn btn-primary mt-2 ">Generuj ...</button>
</div>

{% endcall %}

</div>

</form>

