
{% set endpoint = 'reports.reports_view' %}
{% extends 'layouts/app.html' %}
{% import 'macros/items.html' as items %}
{% import 'macros/form.html' as f with context %}
{% block title %}Checklist - Raports{% endblock %}

{% block body %}
{% call f.form_tag(endpoint) %}


<div class="container">
<form id="package_form" action="" method="post">
    <div class="row">
        <div class='col-sm-6'>
        Data OD
        </div>

        <div class='col-sm-6'>
            Data DO
    </div>
</div>
    </div>


<div class="container">

    <div class="row">

        <div class='col-sm-6'>


            <input type="datetime-local" id="start" name="start" required step="1">

</div>




        <div class='col-sm-6'>
            <input type="datetime-local" id="end" name="end" required step="1">
        </div>
        </div>
    <br>

    {% endcall %}
{% if current_user.role == 'admin' %}
    {% include '_admin_view.html' %}
    {% endif %}
{% if current_user.role != 'admin' %}
<br>
      <div class="row">
    <div class="col-md-3">
        <h4>Raporty Użytkowników</h4>
    </div>

      <div class="col-md-3">
        <h4> Wybierz użytkownika: </h4>
      </div>
      <div class="col-md-3">

        {% call f.form_group(user_form.List_form_user, css_class='form-group row') %}

      </div>
      </div>
</div>
<div class="row">
<div class="col-md-3">
<button type="submit" name="action" value='User' class="btn btn-primary mt-2 ">Generuj ...</button>
</div>

{% endcall %}
{% endif %}
{% endblock %}