{% import 'macros/form.html' as f with context %}

{% if request.endpoint.endswith('new') %}
  {% set endpoint = 'checklist_template.checklist_template_new' %}
  {% set form_kwargs = {} %}
  {% set legend = 'Dodaj nowy wzór' %}
  {% set button = 'Dodaj' %}
{% else %}
  {% set endpoint = 'checklist_template.checklist_template_edit' %}
  {% set form_kwargs = {'id': checklist_template.id} %}
  {% set legend = 'Aktualizuj checkliste' %}
  {% set button = 'Zapisz' %}
  {% set group = group_name.name %}
  {% set text = 'Aktualna grupa:' %}
{% endif %}

<div class="row">
  <div class="col-md-4 col-md-offset-4 well">
    {% call f.form_tag(endpoint, **form_kwargs) %}
      <legend>{{ legend }}</legend>
      <p class="small text-muted">
        Wybierz nazwę checklisty.
      </p>


      {% call f.form_group(form.name, css_class='sm-margin-bottom') %}
      {% endcall %}
      <dt> {{ text }} {{ group }} </dt>
      {% call f.form_group(form.RoleID, css_class='sm-margin-bottom') %}
      {% endcall %}


      <hr/>
      <div class="row">
        <div class="col-md-6">
          <button type="submit" class="btn btn-primary btn-block">
            {{ button }}
          </button>
        </div>
        <div class="col-md-6">
          <div class="visible-xs visible-sm"></div>
          <a href="{{ url_for('checklist_template.checklist_template') }}"
              class="btn btn-secondary btn-block">
            Anuluj
          </a>
        </div>
      </div>
    {% endcall %}
  </div>
</div>
