{% extends 'layouts/app.html' %}
{% import 'macros/items.html' as items %}
{% import 'macros/form.html' as f with context %}


{% block title %}Checklist - template / List{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-md-6">
      {{ f.search('checklist_template.checklist_template') }}
    </div>
    <div class="col-md-6">
      <a href="{{ url_for('checklist_template.checklist_template_new') }}"
         class="btn btn-primary pull-right">
        Stwórz nowy wzór
      </a>
    </div>
  </div>

  {% if paginated_checklist.total == 0 %}
    <h3>Brak wyników ...</h3>

    {% if request.args.get('q') %}
      <p>Zmień kryteria wyszukiwania.</p>
    {% else %}
      <p>
         Nie ma żadnych wzorów ...  <a href="{{ url_for('checklist_template.checklist_template_new') }}">Stwórz</a>.
       </p>
    {% endif %}
  {% else %}
    {% call f.form_tag('checklist_template.checklist_template_bulk_delete') %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th>
              <label for="select_all"></label>
              <input id="select_all" name="select_all" type="checkbox">
            </th>
            <th class="col-header">
              {{ items.sort('created_on', 'Created') }}
            </th>
            <th class="col-header">
              {{ items.sort('name') }}
            </th>
            <th class="col-header">
            Akcja
            </th>
            <th id="bulk_actions" colspan="5">
              <div class="form-inline">
                {{ f.field(bulk_form.scope, inline=True) }}
                <button type="submit"
                        class="btn btn-danger btn-sm">
                  Usuń elementy
                </button>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
        {% for checklist in paginated_checklist.items %}
          <tr >
            <td>
              <label for="bulk_ids"></label>
              <input class="checkbox-item" id="bulk_ids"
                      name="bulk_ids" type="checkbox" value="{{ checklist.id }}">
            </td>
            <td>
              <time class="from-now"
                    data-datetime="{{ checklist.created_on }}">
                {{ checklist.created_on }}
              </time>
            </td>
            <td>
                <h4>{{ checklist.name }}</h4>
              </a>
            </td>

            <td>
              <div class="row no-gutters">
              <div class="col-md-3">
              <a href="{{ url_for('checklist_template.checklist_template_edit', id=checklist.id) }}">
                <h5 class="media-heading">Edytuj wzór</h5>
              </a>
            </div>
              <div class="col-md-6">
              <a href="{{ url_for('checklist_template.task', checklists_templates_id=checklist.id, page=1) }}">
                <h5 class="media-heading">Edytuj/Dodaj Zadania</h5>
              </a>
                </div>
            </div>
            </td>

          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% endcall %}

{{ items.paginate(paginated_checklist) }}
  {% endif %}
{% endblock %}

