{% extends 'layouts/app.html' %}
{% import 'macros/items.html' as items %}
{% import 'macros/form.html' as f with context %}


{% block title %}Checklist - Index / List{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-6">
      {{ f.search('daily_checklist.checklist') }}
    </div>

  <div class="col-md-6">
    <div class="pull-right">
          Wybierz wzór:
      </div>
    <form action="{{ url_for('daily_checklist.checklist_new') }}" class="form" method="POST" >
      {% call f.form_group(form_from_template.List_form, css_class='sm-margin-bottom') %}

      <button type="submit" class="btn-sm btn-primary mt-2 pull-right">Stwórz z wzoru</button>
      </form>
      {% endcall %}
    </div>
  </div>

  {% if paginated_checklist.total == 0 %}
    <h3>Nie znaleziono wyniku...</h3>

    {% if request.args.get('q') %}
      <p>Spróbuj zmniejszyć zakres wyszukiwania.</p>
    {% else %}
      <p>
         Nie ma żadnych checklist ...
       </p>
    {% endif %}
  {% else %}
    {% call f.form_tag('daily_checklist.checklist_bulk_delete') %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th>
              <label for="select_all"></label>
              <input id="select_all" name="select_all" type="checkbox">
            </th>
            <th class="col-header">
              {{ items.sort('created_on', 'Created') }}
            </th>
            <th class="col-header">
              {{ items.sort('name') }}
            </th>
            <th class="col-header">
            Akcja
            </th>
            <th id="bulk_actions" colspan="5">
              <div class="form-inline">
                {{ f.field(bulk_form.scope, inline=True) }}
                <button type="submit"
                        class="btn btn-danger btn-sm">
                  Usuń elementy
                </button>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
        {% for checklist in paginated_checklist.items %}

          <tr >
            <td>
              <label for="bulk_ids"></label>
              <input class="checkbox-item" id="bulk_ids"
                      name="bulk_ids" type="checkbox" value="{{ checklist.id }}">
            </td>
            <td>
              <time class="from-now"
                    data-datetime="{{ checklist.created_on }}">
                {{ checklist.created_on }}
              </time>
            </td>
            <td>
                <h4>{{ checklist.name }}</h4>
              </a>
            </td>

            <td>


              <a href="{{ url_for('daily_checklist.checklist_do', id=checklist.id, page=1) }}">
                <h5 class="media-heading">Wykonaj checklistę !</h5>
              </a>


            </td>

          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% endcall %}

{{ items.paginate(paginated_checklist) }}
  {% endif %}

{% endblock %}

